doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='stylesheet', href='/styles/fontawesome/css/font-awesome.min.css')
    script(src='/scripts/jquery/jquery.min.js')
    script(src='/scripts/app.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='manifest', href='/manifest.json')
  body
    .content
      block content
